*

table {
    table-layout: fixed;
    width: 100%;
  } 
tr {
  background-color: #eeeeee;
  margin: 10px;
}
td {
  box-align: center;
}
.mona-the-rivetertocat {
  width: 200px;
  height: 200px;
  background-color: grey;
}
.octoliberty {
  width: 200px;
  height: 200px;
  background-color: grey;
}

.item {
  flex-grow: 3;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

