body{
    font-family: 'roboto',sans-serif;
    width: auto;
}


.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    align-items: center;
    color: white;

}
.nav-title{
    
    margin-left: 0%;
}
.nav-links{
   
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    list-style-type: none;
    align-items: center;
    font-family: 'roboto',sans-serif;

    
}
.nav-links a{
    text-decoration: none;
    color: white;
    
}

.btn{
    width: 100px;
    height: 30px;
    background-color:blue ;
    box-shadow: 5px 5px 2px 1px black;
    color: white;
    font-family: 'roboto',sans-serif;

}
.active{
    font-weight: bold;
}

/* navigation bar */

.main{
    display: flex;
    justify-content: space-around;
}
.leftside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
    position: relative;
    top: 10px;
}
  .container {
    flex-direction: column;
    /* margin: 0px 50px 50px 50px; */
    border: 2px solid gray;
    border-top: 0px;
    width: 600px;
    height: 370px;



    /* flex-direction: row;
    border: 2px solid black;
    margin-bottom: 10%; */
  }
  .row-1{
    background-color: rgb(0, 153, 255);
    height: 80px;
  }
  .row-1>img{
    width: 95px;
    height: 95px;
    position: absolute;
    top: 10px;
    margin: 30px 0px 0px 25px;
    border: 5px  double gainsboro;
  border-radius: 50%;
  }
  .row-2{
    text-size-adjust: 30px;
    margin: 65px 0px 0px 25px;
    text-align: justify;
  }
  .row-3{
    
    display:inline-flex;
    margin: 0px 25px;
    align-items: center;
   padding-top: 0%;
  }
  .row-3>img{
    width: 15px;
    height: 20px;
    margin: 5px;
  }
  .row-4{
  /* justify-content: left; */
  padding: 0px 0px 0px 25px;
  /* text-align: left;
  margin: 0px; */
  
  
  }
  .row-4>img{
    width: 15px;
    height: 15px;
    /* margin: 15px 5px 0px 0px;    */
  }
/* .card{
    flex-direction: row;
    border: 2px solid black;
    margin-bottom: 10%;
}
.bluebar{
    display: flex;
    background-color: aqua;

}
.bluebar img{
    width: 40px;
    position: relative;
    top: 20px;
    left: 2%;
}
.whitebar{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.whitebar img{
    width: 20px;
}
.whitebar a{
    color: black;

} */
.education{
    flex-direction: row;
    border: 2px solid black;
}
.titreB{
    display: flex;
    background-color: grey;
    color: white;

}
.content p{
    font-weight: bold;
}
.date{
    color: rgb(159, 158, 158);
}
.rightside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    position: initial;
    top: 20px;
}
.requests{
    flex-direction: row;
    border: 2px solid black;
    margin: 0px 10px 25px;
    padding: 0px;
}
.titrereq{
    background-color: grey;
    color: white;
    padding: 2px;
    text-align-last: center;
    
   

}
.person{
    display: flex;
    flex-direction: row;
    margin: 0px;
    align-items: center;
    padding: 5px;
    
}
.person img{
    width: 30px;
    height: 30px;
    margin-top: 2%;
    border-radius: 50%;
    margin-left: 10%;
}
.titlereq span{
    border-radius: 50%;
    background-color: grey;
    width: 30px;
}
#view {
    border-top: 3px solid black;
    width: 100%;
    height: 50px;
    padding-top: 10px;
}
#view a{
    color: gray;
  }